logs
*.log
build
.idea
node_modules/
dist
dist1
bower_components
.DS_Store
conf.ropsten/stake.json
scripts/stake*.sh
start-prod.sh
contract.sh
deployment/run.sh
flattened/
src/client/css/style.css
src/client/css/style.css.map
