.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.color-primary {
  color: $color-primary;
}

.app-title {
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

.logo {
  max-width: 100px;
  position: relative;
  margin: 0 auto;

  img {
    display: block;
    max-width: 100%;
  }

  .beta-container {
    position: absolute;
    bottom: -8px;
    right: -3px;
    background: rgba(255, 255, 255, 0.95);
    padding: 2px 12px;
    border-radius: 9px;
    font-size: 13px;
  }
}


.button {
  cursor: pointer;
  display: inline-block;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  padding: 10px 24px;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover {
    color: $color-white;
    background-color: $color-primary-hover;
  }

  &:active,
  &:focus,
  &:visited {
    outline: none;
    box-shadow: none;
  }
}

.error-container {
  display: none;
  padding: 10px 15px;
  border-radius: 2px;
  border: 1px solid;
  text-align: center;
  color: $color-error;
}


