.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.color-primary {
  color: $color-primary;
}

.app-title {
  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

.logo {
  max-width: 100px;
  position: relative;
  margin: 0 auto;

  img {
    display: block;
    max-width: 100%;
  }

  .beta-container {
    position: absolute;
    bottom: -8px;
    right: -3px;
    background: rgba(255, 255, 255, 0.95);
    padding: 2px 12px;
    border-radius: 9px;
    font-size: 13px;
  }
}


button {
  cursor: pointer;
  display: inline-block;
  background-color: $color-primary;
  color: $color-white;
  font-size: 0.9rem;
  border: none;
  border-radius: 2px;
  padding: 10px 24px;
  text-transform: uppercase;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    color: $color-white;
    background-color: $color-primary-hover;
  }

  &:active,
  &:focus,
  &:visited {
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

input[type=text] {
  padding: 12px 8px;
  font-size: 1rem;

  &:active,
  &:focus,
  &:visited {
    outline: none;
    box-shadow: none;
  }
}

.input-button-wrapper {
  display: flex;
  flex-direction: row;

  input {
    flex: 1 1 auto;
    border-radius: 2px 0 0 2px;
  }

  button {
    white-space: nowrap;
    border-radius: 0 2px 2px 0;
  }
}

.error-container {
  display: none;
  padding: 10px 15px;
  border-radius: 2px;
  border: 1px solid;
  text-align: center;
  color: $color-error;
}

.eth-info {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease;
  position: relative;

  &.active {
    min-height: 120px;
    height: auto;
    visibility: visible;
    opacity: 1;
  }

  &.loading {
    opacity: 0.6;
  }

  .user-info-heading {
    color: $color-text-muted;
    text-align: left;
    margin: 15px 0;

    span {
      color: $color-white;
      margin-left: 8px;

      &.address {
        word-break: break-all;
      }
    }

    .icon-link {
      float: right;
    }
  }
}
