body {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.staking-container {
  margin: 0 auto;
  position: relative;
  max-height: 90%;
  max-width: 750px;
  width: 100%;
}
