#stakingForm {
  margin: 50px auto;
  text-align: center;
}

.staking-steps {
  border: 0;
  border-bottom: 1px solid $color-primary;
  overflow: hidden;
  padding: 10px 0;

  .fieldset-container {
    white-space: nowrap;
    transform: translateX(0);
    width: 100%;
    transition: all 0.3s ease-in-out;
    font-size: 0;
  }

  .staking-subtitle {
    position: relative;
    margin-top: 32px;

    &:before {
      content: '';
      position: absolute;
      top: -6px;
      width: 12%;
      left: 44%;
      border-top: 1px dashed #fd8900;
      opacity: 0.7;
    }
  }

  fieldset {
    border: none;
    display: inline-block;
    width: 100%;
    padding: 15px;
    white-space: normal;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    font-size: 1rem;

    h2 {
      margin-bottom: 12px;
    }

    .actions {
      margin-top: 20px;

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    &:not(.active) {
      .eth-info {
        display: none;
      }
    }
  }

  .form-field__container {
    input[type=text] {
      width: 100%;
      border: 1px solid;
      color: $color-primary;
      background: transparent;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: block;
      transition: all 0.3s ease-in-out;

      &:focus,
      &:active,
      &:hover {
        color: $color-primary-hover;
      }
    }
  }

  .error-container {
    margin: 8px 0;
  }
}

.eth-info {
  display: none;
  opacity: 0;
  transition: all 0.7s ease;
  position: relative;

  &.active {
    min-height: 120px;
    display: block;
    opacity: 1;
  }

  &.loading {
    opacity: 0.6;
  }

  .user-info-row {
    color: $color-text-muted;
    text-align: left;
    margin: 8px 0;

    &:after {
      content: '';
      clear: both;
      display: table;
    }

    label {
      width: 48%;
      text-align: left;
      float: left;
      margin-left: 1.6%;
    }

    a {
      width: 50%;
      cursor: pointer;
      text-align: right;
      float: left;

      span {
        color: $color-white;
        word-break: break-all;
        margin-right: 8px;
      }

      &:hover {
        span {
          color: $color-primary;
        }
      }
    }

    &.heading {
      font-size: 18px;

      label {
        width: 100%;
        text-align: center;
        word-break: break-all;
      }
    }
  }
}

#stake-tx-info {
  .icon-copy {
    span {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 88%;

      @media screen and (max-width: 768px) {
        max-width: 200px;
      }
    }

    i {
      float: right;
      line-height: 1.5rem;
    }
  }

  &:not(.active) {
    .icon-copy span {
      display: none;
    }
  }
}

.action-status {
  margin-top: 18px;
  line-height: 1;
  font-weight: 400;
}
