$color-primary: #fd8900;
$color-primary-hover: #f79b2f;
$color-white: #ffffff;
$color-text: #e1e1e1;
$color-body-bg: #2b2e52;
$color-modal-bg: #4d506f;
$color-modal-overlay: #151729;
$color-error: #d9534f;
$color-text-muted: #87899a;
