:root {
  --advisory        : var(--error);
  --ask             : #d9534f;
  --band-border     : #555860;
  --bid             : #5cb85c;
  --border-on-light : #3d3d67;
  --bright          : #e1e2e5;
  --dark-bg         : #181627;
  --data-hover      : indigo;
  --delivery        : yellow;
  --dim             : #535874;
  --error           : red;
  --input-bg        : #424564;
  --light-bg        : #2b2e52;
  --light-border    : var(--light-bg);
  --lighter-border  : #484869;
  --link            : lightblue;
  --link-hover      : blanchedalmond;
  --normal          : #9ea5b5;
  --normal-bg       : #1f1d30;
  --normal-border   : #272538 thin solid;
  --notice-bg       : navajowhite;
  --pk-warning      : var(--warning);
  --unconfirmed     : indigo;
  --warning         : orange;
}

body {
  margin           : 0;
  /*background-image      : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0ODAiIGhlaWdodD0iNDgwIj48cGF0aCBmaWxsPSIjZDNkM2QzIiBkPSJNMjM1IDQwaDEwdjQwMGgtMTB6Ii8+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBkPSJNNDAgMjQwaDIwMHY0MDBINDB6Ii8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImIiPjxwYXRoIGQ9Ik0yNDAgNDBoMjAwdjQwMEgyNDB6Ii8+PC9jbGlwUGF0aD48ZWxsaXBzZSBjeD0iMjQwIiBjeT0iMzQwIiBmaWxsPSIjZDNkM2QzIiByeT0iMTAwIiByeD0iMjAwIiBjbGlwLXBhdGg9InVybCgjYSkiLz48ZWxsaXBzZSBjeD0iMjQwIiBjeT0iMTQwIiBmaWxsPSIjZDNkM2QzIiByeT0iMTAwIiByeD0iMjAwIiBjbGlwLXBhdGg9InVybCgjYikiLz48L3N2Zz4=);*/
  background       : no-repeat fixed center;
  font-family      : Helvetica, Arial, Verdana, sans-serif !important;
  /*color            : var(--normal);*/
  /*background-color : var(--normal-bg);*/
}

section{
  padding: 5px;
}

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/*basic reset*/
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  /*Image only BG fallback*/
  /*background = gradient + image pattern combo*/
  background: rgb(43, 46, 82); }

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;}

h4 {
  color: #fff;
  text-align: left;
  margin: 15px 0; }

.text-brand {
  color: #FD8900;
  word-wrap: break-word; }

.address {
  word-wrap: break-word;
  max-width: 750px;
  font-size: 10px; }

.eth-info {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease; }

.eth-info.active {
  height: 150px;
  visibility: visible;
  opacity: 1; }

.logo {
  max-width: 100px;
  margin: 0 auto;
  padding-top: 50px; }
  .logo img {
    display: block;
    max-width: 100%; }

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none; }

/*form styles*/
#stakingForm {
  width: 100%;
  max-width: 750px;
  margin: 50px auto;
  text-align: center;
  position: relative; }

#stakingForm fieldset {
  background: transparent;
  border: 0 none;
  border-radius: 3px;
  border: 1px solid #FD8900;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  /*stacking fieldsets above each other*/
  position: relative; }

/*Hide all except first fieldset*/
#stakingForm fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
#stakingForm input, #stakingForm textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #2C3E50;
  font-size: 13px; }

/*buttons*/
#stakingForm .action-button {
  width: 100px;
  background: #FD8900;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px; }

#stakingForm .action-button:hover, #stakingForm .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; }

/*headings*/
.staking-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px; }

.staking-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #fff;
  margin-bottom: 20px; }

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step; }

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 16%;
  float: left;
  position: relative; }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #fff;
  background: #333;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  border-radius: 50%;
  border: 1px solid #FD8900; }

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/ }

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #FD8900;
  color: white;
  border-radius: 50%; }

.help-button {
  background: #FD8900;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  top: 40px;
  left: 25%;
  transition: all 0.2s ease;
  cursor: pointer; }
  .help-button:hover {
    transform: scale(1.2); }

  .form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-field__container {
    margin-top: 25px;
  }

  .form-field input {
    display: inline;
    flex-basis: 10%;
    margin-bottom: 0 !important;
  }

  .form-field label {
    color: #fff;
    flex-basis: 80%;
    text-align: left;
  }


  /* Animations */

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4b4b4b;
    z-index: 9;
    top: 0;
    transition: all 0.5s ease;
    opacity: 1;
  }

  .overlay__invisible {
    opacity: 0;
    visibility: hidden;
  }

  .overlay__text {
    color: #fff;
    text-align: center;
  }

  .overlay__content {
    position: relative;
    margin: 50px auto;
    width: 150px;
  }

  .loader {
    position: absolute;
    opacity: .7;
  }

  .loader circle {
    -webkit-animation: draw 4s infinite ease-in-out;
    animation: draw 4s infinite ease-in-out;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .loader-2 circle,
  .loader-6 circle {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .loader-7 circle {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  .loader-4 circle,
  .loader-8 circle {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  .loader-3 {
    left: -150px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .loader-6,
  .loader-7,
  .loader-8 {
    left: -150px;
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
  }

  .loader-5 circle {
    opacity: .2;
  }

  @-webkit-keyframes draw {
    50% {
      stroke-dashoffset: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }

  @keyframes draw {
    50% {
      stroke-dashoffset: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }

  .copy-link {
    color: #fff;
    float: right;
  }

  .copy-link:hover {
    color: #FD8900;
  }

  .error-container {
    display: none;
    padding: 10px 15px;
    border-radius: 5px;
    background: #fff;
    color: #d9534f;
  }

/*# sourceMappingURL=style.css.map */
