body {
  font-family: 'verdana';
}
span {
  padding: 10px;
  border-radius: 3px;
}
.hidden {
  display: none;
}
.contract-data p {
  display: inline-block;
  width: 150px;
}
.centered {
  text-align: center;
  display: block;
}
.actions-box {
   display: flex;
}
.box {
   word-wrap: break-word;
   width: 50%;
   padding: 10px;
   border: 1px solid grey;
}
.big-lines {
   line-height: 50px;
}
.actions-only {
   width: 50%;
   border: 1px solid grey;
}
