* {
   box-sizing: border-box;
}
.hidden {
  display: none;
}
.inline {
  display: inline-block;
}

.user-information-box h2 {
  padding-left: 20px;
}
.actions-box {
   padding: 20px;
}
.actions-box p, .actions-box span {
   word-wrap: break-word;
}
.logo {
   width: 55px;
}
.navbar-light .navbar-nav .active>.nav-link.logo-text {
   color: orange;
}
.bar {
   border-radius: 25px;
   height: 50px;
   background-color: rgb(227, 227, 227);
   margin-bottom: 10px;
}
.bar-content {
   background: linear-gradient(to right, rgba(255,162,150,1) 0%, rgba(250,180,3,1) 100%);
   width: 44%;
   height: 50px;
   border-radius: 25px;
   text-align: center;
   color: white;
   line-height: 50px;
}
.bar-start-block {
   display: inline-block;
}
.bar-end-block {
   display: inline-block;
   text-align: right;
}
.stake-button {
   float: right;
}
.bar-container table {
   padding-left: 100px;
   padding-bottom: 20px;
}
.bar-container table span {
   font-weight: bold;
}
