:root {
  --advisory        : var(--error);
  --ask             : #d9534f;
  --band-border     : #555860;
  --bid             : #5cb85c;
  --border-on-light : #3d3d67;
  --bright          : #e1e2e5;
  --dark-bg         : #181627;
  --data-hover      : indigo;
  --delivery        : yellow;
  --dim             : #535874;
  --error           : red;
  --input-bg        : #424564;
  --light-bg        : #2b2e52;
  --light-border    : var(--light-bg);
  --lighter-border  : #484869;
  --link            : lightblue;
  --link-hover      : blanchedalmond;
  --normal          : #9ea5b5;
  --normal-bg       : #1f1d30;
  --normal-border   : #272538 thin solid;
  --notice-bg       : navajowhite;
  --pk-warning      : var(--warning);
  --unconfirmed     : indigo;
  --warning         : orange;
}

body {
  margin           : 0;
  /*background-image      : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0ODAiIGhlaWdodD0iNDgwIj48cGF0aCBmaWxsPSIjZDNkM2QzIiBkPSJNMjM1IDQwaDEwdjQwMGgtMTB6Ii8+PGNsaXBQYXRoIGlkPSJhIj48cGF0aCBkPSJNNDAgMjQwaDIwMHY0MDBINDB6Ii8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImIiPjxwYXRoIGQ9Ik0yNDAgNDBoMjAwdjQwMEgyNDB6Ii8+PC9jbGlwUGF0aD48ZWxsaXBzZSBjeD0iMjQwIiBjeT0iMzQwIiBmaWxsPSIjZDNkM2QzIiByeT0iMTAwIiByeD0iMjAwIiBjbGlwLXBhdGg9InVybCgjYSkiLz48ZWxsaXBzZSBjeD0iMjQwIiBjeT0iMTQwIiBmaWxsPSIjZDNkM2QzIiByeT0iMTAwIiByeD0iMjAwIiBjbGlwLXBhdGg9InVybCgjYikiLz48L3N2Zz4=);*/
  background       : no-repeat fixed center;
  font-family      : Helvetica, Arial, Verdana, sans-serif !important;
  /*color            : var(--normal);*/
  /*background-color : var(--normal-bg);*/
}

section{
  padding: 5px;
}

/*custom font*/
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
       url('./fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('./fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('./fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/*basic reset*/
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  /*Image only BG fallback*/
  /*background = gradient + image pattern combo*/
  background: rgb(43, 46, 82); }

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;}

.app-title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
}

.staking-container {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}

h4 {
  color: #fff;
  text-align: left;
  margin: 15px 0; }

.text-brand {
  color: #FD8900;
  word-wrap: break-word; }

.address {
  word-wrap: break-word;
  max-width: 750px;
  font-size: 10px; }

.eth-info {
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease;
  position: relative; }

.eth-info.active {
  min-height: 120px;
  height: auto;
  visibility: visible;
  opacity: 1; }

.logo {
  max-width: 100px;
  margin: 0 auto;
  padding-top: 50px;
  position: relative;}
  .logo img {
    display: block;
    max-width: 100%; }

  .beta-container {
    position: absolute;
    bottom: -8px;
    right: -3px;
    background: rgba(255, 255, 255, 0.95);
    padding: 2px 12px;
    border-radius: 9px;
    font-size: 13px;
  }

.hidden {
  opacity: 0;
  visibility: hidden;
  display: none; }

/*form styles*/
#stakingForm {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  position: relative; }

#stakingForm fieldset {
  background: transparent;
  border: 0 none;
  border-radius: 3px;
  border: 3px solid #FD8900;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  /*stacking fieldsets above each other*/
  position: relative; }

/*Hide all except first fieldset*/
#stakingForm fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
#stakingForm input, #stakingForm textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: #2C3E50;
  font-size: 13px; }

/*buttons*/
#stakingForm .action-button {
  width: 100px;
  background: #FD8900;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px; }

#stakingForm .action-button:hover, #stakingForm .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; }

/*headings*/
.staking-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px; }

.staking-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #fff;
  margin-bottom: 20px; }

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step; }

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
  }

  #progressbar li.activated {
    cursor: pointer;
  }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #fff;
  background: #333;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  border-radius: 50%;
  border: 1px solid #FD8900; }

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/ }

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #FD8900;
  color: white;
  border-radius: 50%; }

.help-button {
  background: #FD8900;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  top: 100px;
  left: 40px;
  transition: all 0.2s ease;
  cursor: pointer; }

  .help-button:hover {
    transform: scale(1.2); }

  @media screen and (max-width: 768px) {
    .help-button {
      left: 20px;
    }
  }

  .form-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .form-field__container {
    margin-top: 25px;
  }

  .form-field input {
    display: inline;
    flex-basis: 10%;
    margin-bottom: 0 !important;
  }

  .form-field label {
    color: #fff;
    flex-basis: 80%;
    text-align: left;
  }


  /* Animations */

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 46, 82);
    z-index: 9;
    top: 0;
    transition: all 0.5s ease;
    opacity: 1;
  }

  .overlay__invisible {
    opacity: 0;
    visibility: hidden;
  }

  .overlay__text {
    color: #fff;
    text-align: center;
  }

  .overlay__content {
    position: relative;
    margin: 50px auto;
    width: 150px;
  }

  .instructions {
    background: rgba(252, 248, 227, 0.9);
    color: #8a6d3b;
    position: fixed;
    bottom: -100%;
    opacity: 0.8;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    z-index: 9;
    transition: all 0.5s ease;
  }

  .instructions-container {
    padding: 70px 25px;
    max-height: 500px;
    overflow: hidden;
  }

  .instructions li{
    text-decoration: none;
    margin-left: 25px;
  }

  .instructions li {
    margin-bottom: 15px;
  }

  .instructions h3, .instructions p {
    margin-bottom: 30px;
  }

  .instructions-content {
    overflow: auto;
    margin: 0 auto;
    max-width: 1000px;
    max-height: 450px;
  }

  @media screen and (max-width: 768px) {
    .instructions-content {
      max-height: 470px;
    }
  }

  .instructions.active {
    opacity: 1;
    bottom: 10%;
  }

  .instructions-list {
    padding: 30px 60px;
  }

  .instructions-list__item {
    margin-bottom: 15px;
  }

  body.disclaimer-open > * {
    display: none;
  }

  body.disclaimer-open .disclaimer-modal {
    display: block;
  }

  .disclaimer-modal {
    background: rgba(252, 248, 227, 1);
    color: #8a6d3b;
    position: fixed;
    bottom: 10%;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    z-index: 9;
    transition: all 0.5s ease;
    display: none;
  }

  .disclaimer-container {
    padding: 40px 25px;
    max-height: 600px;
    overflow: hidden;
  }

  .disclaimer-container .logo {
    padding-top: 0;
    margin-bottom: 20px;
  }

  .disclaimer-modal .warning {
    text-align: center;
  }

  .disclaimer-modal .warning img{
    width: 120px;
  }

  .disclaimer-modal li{
    text-decoration: none;
    margin-left: 25px;
  }

  .disclaimer-modal li {
    margin-bottom: 15px;
  }

  .disclaimer-modal h3, .disclaimer-modal p {
    margin-bottom: 30px;
  }

  .disclaimer-content {
    overflow: auto;
    margin: 0 auto;
    max-width: 1000px;
    max-height: 480px;
  }

  .disclaimer-modal .disclaimer-buttons {
    text-align: center;
  }

  .disclaimer-modal .disclaimer-buttons .button {
    display: inline-block;
    border: none;
    border-radius: 1px;
    padding: 8px 42px;
    color: #ffffff;
    background: #FD8900;
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    .disclaimer-content {
      max-height: 470px;
    }
  }

  .close-button {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 30px;
    color: #8a6d3b;
    transition: all 0.5s ease;
  }

  .close-button:hover {
    opacity: 0.7;
    transform: rotate(180deg);
    transform-origin: center;
  }

  .loader {
    position: absolute;
    opacity: .7;
  }

  .loader circle {
    -webkit-animation: draw 4s infinite ease-in-out;
    animation: draw 4s infinite ease-in-out;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .loader-2 circle,
  .loader-6 circle {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .loader-7 circle {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  .loader-4 circle,
  .loader-8 circle {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  .loader-3 {
    left: -150px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  .loader-6,
  .loader-7,
  .loader-8 {
    left: -150px;
    -webkit-transform: rotateX(180deg) rotateY(180deg);
    transform: rotateX(180deg) rotateY(180deg);
  }

  .loader-5 circle {
    opacity: .2;
  }

  @-webkit-keyframes draw {
    50% {
      stroke-dashoffset: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }

  @keyframes draw {
    50% {
      stroke-dashoffset: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
  }

  .icon-link {
    color: #fff;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .icon-link:not(.icon-link--rotate):hover {
    transform: scale(1.2);
    color: #FD8900;
  }

  .icon-link--rotate:hover {
    color: #FD8900;
  }

  .staking-status {
    position: absolute;
    right: 0;
    top: 100px;
  }

  .staking-status__heading {
    color: #FD8900;
    font-size: 16px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 768px) {
    .staking-status {
      right: 30px;
    }

    .staking-status__heading {
      font-size: 10px;
    }
  }

  .icon-link--big {
    font-size: 30px;
  }

  .icon-link--center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 768px) {
    .icon-link--center {
      left: auto;
      right: 0;
    }
  }

  .error-container {
    display: none;
    padding: 10px 15px;
    border-radius: 5px;
    background: #fff;
    color: #d9534f;
  }

  .browser-detection-overlay {
    background: black;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 0 15px;
    opacity: 0;
    display: none;
  }

  .browser-detection-overlay__title {
    font-size: 24px;
    font-weight: 300;
    transition: all 0.5s ease;
    text-transform: uppercase;
    text-align: center;
  }

  .browser-detection-overlay.active {
    opacity: 1;
    display: flex;
  }

  .mCS-rounded.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger {
    position: absolute;
  }

  .user-info-heading {
    font-size: 16px;
  }

  /*.lev-count {
    cursor: pointer;
  }*/

/*# sourceMappingURL=style.css.map */
